<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/Javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>userid</param-name>
  <param-value>hr</param-value>
  </context-param>
  <context-param>
  <param-name>userpass</param-name>
  <param-value>1234</param-value>
  </context-param>
  
  
  <!-- filter등록 @WebFilter("*.do")와 같다. -->
 <filter>
 <filter-name>encodeFilter</filter-name>
 <filter-class>com.kosta.filterAndListener.EncodeFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>encodeFilter</filter-name>
 <url-pattern>*.do</url-pattern>
 </filter-mapping>
 
 
  <!-- 서블릿 요청에 대한 설정을 xml에서 하기 @WebServlet와 같음-->
  <servlet>
	<servlet-name>configTest</servlet-name>
	<servlet-class>com.kosta.controller2.ServletConfigTest</servlet-class>  
	<load-on-startup>1</load-on-startup>
	<init-param>
		<param-name>myaddress</param-name>
		<param-value>서울시 여의도구</param-value>
	</init-param>
	<init-param>
		<param-name>myphone</param-name>
		<param-value>010-1234-5678</param-value>
	</init-param>
	
  </servlet>
  <servlet-mapping>
  	<servlet-name>configTest</servlet-name>
  	<url-pattern>/ServletConfigTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>configTest</servlet-name>
  	<url-pattern>/config1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>configTest</servlet-name>
  	<url-pattern>/config2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>second</servlet-name>
  <servlet-class>com.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>second</servlet-name>
  <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>second</servlet-name>
  <url-pattern>/bb</url-pattern>
  </servlet-mapping>
  <resource-ref>
 <description>Oracle Datasource example</description>
 <res-ref-name>jdbc/myoracle</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>
</web-app>